<script>
 window.gameName = "<%= @name %>";
 window.personName = "<%= @person %>"
</script>

<div class="row">
  <div class="column">
    <h1>Word tile game: <%= @name %></h1>
    <h2>Your name: <%= @person %></h2>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
