<script>
 window.gameName = "<%= @name %>";
</script>

<div class="row">
  <div class="column">
    <h1>Word_tile Game: <%= @name %></h1>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
